<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="homePage">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>AnaSayfa</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="foods">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Ara</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="sendrecipe">
            <ion-icon name="square"></ion-icon>
            <ion-label>Tarif Gönder</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="recipeNotes">
            <ion-icon name="square"></ion-icon>
            <ion-label>Tarif Defteri</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="square"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
